.slider-container {
  display: grid;
  grid-template-rows: max-content 1em;
  margin: 1em auto;
  width: 20em;
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
}

.slider-container::after {
  content: '';
  background: magenta;
  grid-column: 1/ span 2;
  grid-row: 3;
  width: 
}

#min, #max {
  grid-column: 1;
  grid-row: 2;
}

input[type="range"] {
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  color: #000;
  font: inherit;
  margin: 0;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-radius: 0;
  pointer-events: auto;
  width: 1em;
  height: 1em;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: none;
}
input[type="range"]::-moz-range-track {
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px; height: 16px; background: black;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: black;
}
