.slider-container {
  display: grid;
  grid-template-rows: max-content 1em;

  margin: 1em auto;
  width: 20em;
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
}


.filler-color-div {
  content: '';
  background: white;
  border: 1px solid black;
  grid-column: 1/ span 1;
  grid-row: 2;
  height: 1em;
  box-sizing: border-box;
}

#min, #max {
  grid-column: 1;
  grid-row: 2;
}

input[type="range"] {
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  color: #000;
  font: inherit;
  margin: 0;
  pointer-events: none;

}

input[type="range"]::-moz-range-thumb  {
  appearance: none;
  border-radius: 0;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  width: 16px;
  height: 25px;
  background: black;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-radius: 0;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  width: 16px;
  height: 25px;
  background: black;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: none;

}

input[type="range"]::-moz-range-track{
  appearance: none;
  background: none;

}

#price-slider-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filters-container {
  display: flex;
  flex-direction: column;
}

.filters-container > div {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.brands-div {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  overflow-y: scroll;
  border: 2px solid black;
}

.categories-div {
  display: flex;
}

.categories-div > div {
  margin: 2.5%;
}
