.product-page-container{
    margin-top: 60px;
    padding: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "image routine"
    "name name"
    "ingredients ingredients"
    ;
    border: 3px solid black;
}

.product-page-container img {
    grid-area: image;
}

.product-page-container .add-to-routine-div {
    grid-area: routine;
}

.product-page-container prod {
    grid-area: name;
    display: flex;
}

.product-page-container .ing {
    grid-area: ingredients;
}


