#profile-img {
    padding: 4px;
    border: 1px solid black;
    object-fit: cover;
    width: 10vw;
    height: 60%;
    grid-area: profpic;
}

.profile-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    grid-template-areas:
    "profile concerns"
    "routine routine"
    ;

    grid-gap: 5%;
    margin-top: 60px;
}

div.profile-container b {
    font-size: 1em;
}

.profile-container .profile-div {
    grid-area: profile;

    display: flex;
    flex-direction: column;

    align-content: space-around;
}

.profile-container .profile-div ul {
    list-style: none;
    padding: 0;
    font-size: .7em;
}

.profile-container .concerns-div {
    grid-area: concerns;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.profile-container .user-concerns {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-container .routine-container {
    grid-area: routine;
}

.routine-profile-div {
    min-height: calc(fit-content + 30px);
    min-width: 250px;
}
