.edit-routine-modal {
    display: grid;
    grid-template-rows: 10% auto 50%;
    grid-template-areas:
    "name"
    "image"
    "edit"
    ;
    text-align: center;
}

.edit-routine-modal > .edit-product-name {
    grid-area: name;
}

.edit-routine-modal > .edit-product-image {
    grid-area: image;
}

.edit-routine-modal > .add-to-routine {
    grid-area: edit;
}
