
#splash-container {
    background: no-repeat url('https://i.imgur.com/ovB1AZi.jpg');

    height: 100vh;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 60px 1fr 1fr;

    grid-template-areas:
    '. .'
    'logo .'
    '. links'
    ;
}

#logo {
    /* position: absolute;
    left: 6%;
    top: 7%; */

    grid-area: logo;
    width: 18vw;
    z-index: 1;
    padding: 8px;
    border: 1px solid white;
    max-height: 50vh;
    justify-self: center;
}

#banner-gif{
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: calc(100vh - 40px);
    z-index: -1;
    overflow-x: hidden;
}

.prof-div{
/* position: absolute;
bottom: 0px;
right: 0px; */

grid-area: links;
background-color: white;
padding: 1%;
width: 10vw;
min-width: fit-content;
height: fit-content;
margin: 2%;

display: flex;
justify-content: space-around;

z-index: 1;
border: 9px solid black;

justify-self: end;
align-self: end;
}

/* .dev {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: black;
    margin: 4%;
    padding: 3% 1% 16% 1%;
    width: 25%;
    min-width: 223px;
    height: 10vh;
    min-height: 5vh;
    border: 1px solid white;
} */

.dev b {
    color: white;
    margin-left: 2%;
    font-size: 1em;
}

.prof-div > a > i {
    color: black;
    max-height: 10vh;
}
