#modal {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .4);
}

#modal-content {
    /* min-width: fit-content; */
    position: absolute;
    background-color: white;
    padding: 2% 4% 2%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* min-height: fit-content; */
    /* max-height: 90vh; */
    min-height: fit-content;
    width: fit-content;
}

#modal-content > form {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: .8em;
    font-weight: 800;


}

#modal-content h1 {
    margin-top: -10%;
}

#modal-content input {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    margin: 3% 0%;

}

/* .edit-routine-modal {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    width: fit-content;
    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-areas:
    "AM"
    "."
    "PM"
    "."
    "BOTH"
    ;
    min-height: 90%;
    text-align: center;

} */

#edit-am {
    grid-area: AM;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 5%
}

#edit-pm {
    grid-area: PM;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 5%
}

#edit-both {
    grid-area: BOTH;
    align-self: center;
    display: flex;
    flex-wrap: wrap;

}

.edit-routine-div {
    margin: 0px 2%;
}

.edit-concern-container {
    display: flex;
    flex-direction: column;

}

.edit-concern-container button {
    min-width: fit-content;
    max-width: 100%;
    margin: 2% 0%;
    padding: 2%;
}

.edit-concern-container button:hover {
    box-shadow:  0 0 .8em black;
    border-radius: .2em;
}

b {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 900;
    margin: none;
}
