.routine-profile-div {
    display: grid;
    grid-template-rows: 3% auto auto auto;
    grid-template-areas:
    "header"
    "am"
    "pm"
    "both"
    ;
    grid-gap: 1%;
    height: fit-content;
    border: 3px solid black;
    padding: 3%;
}

.routine-div {
    margin: 2%;
}

.routine-div a {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    margin: 2%;
    color: black;
    height: fit-content;
}

.routine-div a:hover {
    text-decoration: none;
    box-shadow:  0 0 .8em black;
    border-radius: .2em;
    color: black;
}

b {
    grid-area: header;
    margin: 0;
}

div.am {
    grid-area: am;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.pm {
    grid-area: pm;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.am-and-pm {
    grid-area: both;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
